.header {
    padding-bottom: 20px;
}
.form-cadastro input, .form-cadastro select {
    width: 40%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;;
}
.error {
    border: 1px solid red !important;
}
.form-cadastro > div {
    display: flex;
    margin: 30px;
}

.button-cadastro {
    background-color: #5CAC21;
    border: 0;
    float: right;
    border-radius: 4px;
    text-align: center;
    font: normal normal bold 12px/16px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;    font-size: .9em;
    cursor: pointer;
    width: 176px;
    margin-left: 20px;
    margin-right: 20px;
}

label {
text-align: left;
font: normal normal normal 14px/20px Roboto;
letter-spacing: 0px;
color: #202020;
opacity: 1;
}
