.content {
    width: 80vw;
    height: auto;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 2px #00000067;
    border-radius: 4px;
    opacity: 1;
    margin: 10%;
}


.header {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

@media only screen and (max-width: 860px) {
    .header img {
        object-fit: contain;
        width: 100%;
        height: auto;
    }
}
