.text-logo {
    margin-bottom: 0px;
}

.container-header-sub {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 20px;
    margin-left: 9%;
}

img {
    padding: 10px;
}

.menu {
    background-color: #EFEFEF;
    display: flex;
    width: 100vw;
    margin-top: -9%;
}

.logo-principal {
  width: 146px;
  height: 38px;
}

h1 {
    font: normal normal normal 28px Roboto;
    color: #515151;
    opacity: 1;
}