.tabela {
    width  : 100%;
    height : 80px;
    padding: 30px 0 0 0;
}

.tabela thead {
    background-color: #E0E0E0;
    color           : #101010;
}

.tabela tbody {
    background-color: gray;
}

.tabela tbody td {
    padding         : 0;
    background-color: #fff;
}

.hidden {
    display: none;
}

th {
font: normal normal bold 13px/24px Roboto;
letter-spacing: 0px;
color: #101010;
text-transform: uppercase;
opacity: 1;
}

.editar,
.excluir {
    width : 20px;
    height: auto;
    cursor: pointer;
}

@media only screen and (max-width: 860px) {
    .conteudo-table {
        overflow: scroll;
        width   : 100%;
        height  : auto;
        padding : 00px 0 50px 0;
    }
}